*,
*:before,
*:after {
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
	box-sizing: border-box !important;
}

.hide {
	display: none;
}
.show {
	display: block;
}


/**
 * GENERAL APPEARANCE AND SPACING
 */

.xprofile-wrapper {
	margin: 0.5rem;
}

.xprofile-navigation,
.xprofile-groups,
.xprofile-controls {
	width: 100%;
}

.xprofile-wrapper .dashicons {
	font-size: 2rem;
	height: 44px;
	padding: 0;
	width: 44px;
}

[contenteditable="true"]:focus {
	background-color: #FFF;
}
[contenteditable="true"]:empty:before {
	content: attr(placeholder);
	opacity: 0.54;
}

.xprofile-hint {
	color: #666;
	display: block;
	font-size: 13px;
	font-style: italic;
	text-align: center;
}


/**
 * NAVIGATION
 */

.xprofile-navigation {
	z-index: 100;

	position: -webkit-sticky; /* Safari */
	position: sticky; /* iOS, Firefox w/ flag */
	top: 0;
}

.group-picker {
	font-size: 16px;
	font-weight: 300;
	width: 100%;
}

.sortable-placeholder {
	margin-bottom: 0.5rem;
}


/**
 * PROFILE GROUPS
 */

.xprofile-group {
}


/**
 * PROFILE FIELDS
 */

.xprofile-field {
	background-color: #FFF;
	border: 1px solid #DEDEDE;
	color: #222;
	margin-bottom: 0.5rem;
	padding: 0.5rem;
}
.xprofile-field:last-child {
	margin-bottom: 0;
}
.xprofile-field header {
	font-size: 18px;
	font-weight: 600;
	text-overflow: ellipsis;
}
.xprofile-field p {
	font-size: 14px;
}
.xprofile-field label {
	display: block;
	font-size: 14px;
}
.xprofile-field input[type="radio"] {
	margin-left: 0.5rem;
}
.xprofile-field select {
	margin-left: 0.5rem;
}

/**
 * BUTTONS AND CONTROLS
 */

.xprofile-field {
	clear: both;
}
.xprofile-controls,
.field-controls {
	overflow: auto;
}

.field-controls .trash-button {
	float: left;
}
.field-controls .change-button {
	float: right;
}
.field-controls {
	margin-top: 1.5rem;
}

.xprofile-controls {
	margin-top: 1.5rem;
	padding: 0 0.5rem;
}
.xprofile-controls .button {
	background-color: #FFF;
}
.xprofile-controls .add-button {
	float: left;
	padding-top: 0.5rem;  /* approx. line up the top of the + and Save buttons */
}
.xprofile-controls .save-button {
	float: right;
}

.xprofile-wrapper .trash-button {
	color: #A00;
}
.xprofile-wrapper .trash-button:hover {
	color: #F00;
}